#Main{
  width:100%;
  height:100vh;

}

#ui_view {
    height:inherit;
    width:100%;
    float:right;
}

#homepage {
  height:inherit;
  width:100%;
}


#order{
  height: 100%;
  width: 100%;
  //background-color: white;
}

#orders{
  border-radius: 15px;
  position: relative;
  margin-left: 45px;
  margin-top: 60px;
  float: left;
  width: 200px; 
  height: 300px; 
  padding: 0px; 
}
#order_id{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align:center;
  background-color:#707070;
  width:200px;
  height: 60px;
  padding-top:1px;
  

}
#order_description{
  border: 1px solid #707070; 
  text-align:left;
  background-color:#F8F8F8 ;
  width:200px;
  height: 220px;
  padding:20px;

}
#order_status{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align:center;
  //background-color:#707070 ;
  width:200px;
  height: 50px;
  padding:5px;

}

#orders_list{
  height: 100%;
  width:100%;
}

.search { height: 100%;

}
 
.box{
    width: 100%;
    height: 50px;
}

.container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search, .container-1 input#search1{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active, .container-1 input#search1:hover, .container-1 input#search1:focus, .container-1 input#search1:active{
    outline:none;
    background: lightgray;
  }

  #label_checkbox{
    float:right;
    margin-right: 50px;
  }