#Main{
  width:100%;
  height:100vh;

}

#ui_view {
    height:inherit;
    width:100%;
    float:right;
}

#homepage {
  height:inherit;
  width:100%;
}


#order{
  height: 100%;
  width: 100%;
}

#orders{
  border-radius: 15px;
  position: relative;
  margin-left: 30px;
  margin-top: 90px;
  float: left;
  width: 200px; 
  height: 300px; 
  padding: 0px; 
}
#order_id{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align:center;
  background-color:#707070;
  width:200px;
  height: 60px;
  padding-top:1px;
  

}
#order_description{
  border: 1px solid #707070; 
  text-align:left;
  background-color:#F8F8F8 ;
  width:200px;
  height: 240px;
  padding:20px;
  word-wrap:break-word;

}
#order_status{
  
  text-align:center;
  width:200px;
  height: 40px;
  padding:5px;

}

#orders_list{
  height: 100%;
  width:100%;
}

 
.box{
    width: 100%;
    height: 80px;
}

.container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  border-radius: 5px;
transition: background .55s ease;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: lightgray;
  }

#label_checkbox{
  float:right;
  margin-right: 50px;
}

#cancel_order{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#login_btn,#logout_btn{
   float: right;
   margin: 20px 30px;
}


#container1 {
  display: table;
  width:90%;
  background: #fff;
  margin: 100px auto;
  margin-top: 100px;
  margin-bottom: 0px;
  border-radius: 4px;
  height: 500px;
}

/* Content */

#content1 {
  width: calc(100% - 240px);
  height: 100%;
  padding: 25px;
  display: table-cell;
  color: rgb(102, 102, 102);
}

/*
@keyframes loading {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}
.loading {
  position: relative;
  display: block;
  z-index: 13;
  margin: 15px auto;
  margin-top: 20%;
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
}
.loading:before {
  position: absolute;
  display: block;
  content: '';
  z-index: 12;
  top: 4px;
  left: 4px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: transparent;
}
.loading:after {
  position: absolute;
  display: block;
  top: 0;
  content: '';
  z-index: 11;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  border-radius: 200px 0 0 0;
  background: linear-gradient(45deg, transparent 0%, #459ad7 50%, #459ad7 100%);
  animation: loading .9s linear infinite;
}
*/