<div id="order">

  <div>
    <form   ng-submit="do()">
      <p style="width:200px;">From: <input type="date" id="date_from" ng-model="from"/></p>
      <p style="width:200px;;" >To: <input type="date" id="date_to" ng-model="to"/></p>
    </form>
  </div>
  <div class="box">
    <div class="container-1">

      <input type="search" id="search" ng-model="nameFilter" placeholder="Enter OrderId"/>

      <div id="label_checkbox">
        <label>PickUp
          <input id="checkbox1" type="checkbox" ng-model="nameFilter1" value="PickUp" checked/>
        </label><br>
        <label>Drop
          <input id="checkbox2" type="checkbox" ng-model="nameFilter2" value="Drop" checked>
        </label><br>
        <label>All
          <input id="checkbox3" type="checkbox" ng-model="nameFilter3" value="All" checked>
        </label>
      </div>
       
    </div>
    <div style="margin-top: 6px; margin-right:300px;float:right;">
        <label>PickUp:{{customer_care_data.pickup_count}}</label><br>
        <label>Drop:{{customer_care_data.drop_count}}</label><br>
        <label>All:{{customer_care_data.all_count}}</label><br>
      </div>
  </div>
  <div id="orders_list">
    <div id="orders" ng-repeat="x in customer_care_data  | filter: searchFilter |filter: searchFilter1 |filter: searchFilter2" >
      <div id="menu" ng-click="open(x)">
        <div id="order_id" style="background-color: {{getColor(x.modified_at_time)}};">
          <h2  style="color:white;" >#{{x.id}}</h2>
        </div>
        <div id="order_description">
          <p style="color:black;">
            Email:{{x.owner.email}}<br>
            Username:{{x.owner.username}}<br>
            Mobile:{{x.owner.UserInfo.phone}}<br>
            Amount:{{x.amount}}<br>
            After_Discount:{{x.afterDiscount}}<br>
            Coupon_Applied:{{x.coupon}}<br>
            <a  style="position:absolute;bottom:5px;right:10px; " href ng-click="reassign(x,'sm')">{{x.reassign}}</a>
          </p>
          
        </div>
        <div id="order_status" style="background-color: {{stringToColor(x.clr)}}">
          <h4 style="color:white;">{{x.status}}</h4>
        </div>
      </div>
      <div style="background-color: {{stringToColor(x.clr)}};" id="cancel_order" >
          <a  style="margin-left:60px;" href ng-click="update_order(x,'sm')">Modify Order..?</a>
          
      </div>
    </div>
  </div>
</div>