<div id="myModal">
	
	<div class="modal-header">
		<h2 class="modal-title">Order Details</h2>
	</div>
	<div class="modal-body" >
		<h5>OrderID:{{data.id}}<br><h5>
		<h5>Username:{{data.owner.username}}<br><h5>
		<h5>Email:{{data.owner.email}}<br><h5>
		<h5>Mobile:{{data.owner.UserInfo.phone}}<br></h5>
		<h5>Order Type:{{data.order_type}}<br><h5>
		<h5 class="time"> Created At: {{data.created_at_time | date:"HH:mm:ss, dd-MMM-yyyy"}}</h5>
        <h5 class="time"> Modifted At: {{data.modified_at_time | date:"HH:mm:ss, dd-MMM-yyyy"}}</h5>

		<h4>Address</h4>

		<div class="table-responsive">   
		    <table class="table table-striped">
				<thead>
			  		<tr>
			        	<th>address</th>
			        	<th st-sort="addressLocality">Locality</th>
			        	<th st-sort="addressSubLocality">SubLocality</th>
			        	<th st-sort="postalcode">PostalCode</th>
			        	<th>Lat</th>
			        	<th>Long</th>
			  		</tr>
				</thead>

				<tbody>
					<tr ng-repeat="x in data.owner.UserProfile" >

					    <td>{{x.address}}</td>
					    <td>{{x.addressLocality}}</td>
					    <td>{{x.addressSubLocality}}</td>
					    <td>{{x.postalcode}}</td>
					    <td>{{x.addressLatitude}}</td>
					    <td>{{x.addressLogitude}}</td>
		  			</tr>
				</tbody>
			</table>
		</div>
		<h4>Driver Details</h4>
		<div class="table-responsive">   
	    	<table class="table table-striped">
				<thead>
		  			<tr>
		        		<th>DriverName</th>
		        		<th>DriverPhone</th>
		        		<th>Status</th>
		        		<th>Logistics</th>
		  			</tr>
		  		</thead>
				<tbody>
		  			<tr ng-repeat="x in data.DriverDetails" >
		    			<td>{{x.driver_name}}</td>
		    			<td>{{x.driver_phone}}</td>
		    			<td>{{x.new_trip}}</td>
		    			<td>{{x.logistics}}</td>
		  			</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
